.overflow-hidden {
  overflow: hidden;
}
.overflow-hidden body {
  overflow: hidden;
}

.block-scroll {
  overflow: hidden;
  height: 100%;
}
.block-scroll body {
  overflow: hidden;
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button,
input,
textarea {
  outline: transparent;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
}
button::-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}
button:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
}
button::-ms-input-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: inherit;
}
button::placeholder,
input::placeholder,
textarea::placeholder {
  color: inherit;
}

textarea {
  resize: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-btnon,
input::-webkit-inner-spin-btnon {
  -webkit-appearance: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MedulaOne";
  font-display: swap;
  src: url("../fonts/MedulaOne-Regular.ttf") format("truetype"), url("../fonts/MedulaOne-Regular.woff") format("woff"), url("../fonts/MedulaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  min-width: 320px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #21292F;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

::root {
  --header-size: 155px;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 110px;
}

.logo {
  display: inline-block;
}
.logo img {
  vertical-align: middle;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.page__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: -1px;
}
.page__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/main-bg.png") bottom/cover no-repeat;
  background-image: none;
}
@supports (-webkit-appearance: none) {
  .page__top {
    background-image: url("../img/main-bg.webp");
  }
}

.section {
  margin: 140px 0 180px;
}

.section-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 100px;
  letter-spacing: -1px;
}
.section-title-sm {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -1px;
}
.section-title-md {
  font-weight: 800;
  font-size: 34px;
  line-height: 1.35;
  letter-spacing: -1px;
}

.btn {
  display: inline-block;
  padding: 22px 30px;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  border-left: 6px solid #A5D820;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #21292F;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  min-width: 193px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  position: relative;
}
.btn::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #A5D820;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.btn:hover, .btn:active {
  color: #fff;
}
.btn:hover::before, .btn:active::before {
  width: 100%;
}
.btn--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn--flex span {
  margin-right: 15px;
}
.btn--flex:hover path {
  fill: #fff;
}

.slider-arrows__prev, .slider-arrows__next {
  position: absolute;
  width: 70px;
  height: 70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
  outline: none;
  z-index: 3;
}
.slider-arrows__prev.swiper-button-disabled, .slider-arrows__next.swiper-button-disabled {
  opacity: 0.6;
}
.slider-arrows__prev::before, .slider-arrows__next::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg width='43' height='17' viewBox='0 0 43 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.61997 8.59035C5.66759 8.46777 5.73899 8.35577 5.83008 8.2608L12.8337 1.26855C12.927 1.17544 13.0378 1.10158 13.1596 1.05118C13.2815 1.00079 13.4122 0.974854 13.5441 0.974854C13.8105 0.974854 14.0661 1.0805 14.2545 1.26855C14.3477 1.36166 14.4217 1.47221 14.4722 1.59386C14.5227 1.71552 14.5487 1.84591 14.5487 1.9776C14.5487 2.24354 14.4429 2.49859 14.2545 2.68664L8.9517 7.97119H36.556C36.8214 7.97119 37.0759 8.0764 37.2635 8.26369C37.4511 8.45097 37.5566 8.70498 37.5566 8.96984C37.5566 9.2347 37.4511 9.48872 37.2635 9.676C37.0759 9.86328 36.8214 9.9685 36.556 9.9685H8.9517L14.2545 15.253C14.3482 15.3459 14.4227 15.4563 14.4735 15.578C14.5243 15.6997 14.5504 15.8303 14.5504 15.9621C14.5504 16.0939 14.5243 16.2245 14.4735 16.3461C14.4227 16.4678 14.3482 16.5783 14.2545 16.6711C14.1614 16.7647 14.0508 16.839 13.9289 16.8897C13.8069 16.9404 13.6762 16.9665 13.5441 16.9665C13.412 16.9665 13.2812 16.9404 13.1593 16.8897C13.0374 16.839 12.9267 16.7647 12.8337 16.6711L5.83008 9.67889C5.73899 9.58391 5.66759 9.47192 5.61997 9.34933C5.5199 9.1062 5.5199 8.83349 5.61997 8.59035Z' fill='%2321292F'/%3E%3C/svg%3E%0A") center no-repeat;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.slider-arrows__prev::after, .slider-arrows__next::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.slider-arrows__prev:not(.swiper-button-disabled):hover::after, .slider-arrows__next:not(.swiper-button-disabled):hover::after {
  background-color: #93CA00;
}
.slider-arrows__prev:not(.swiper-button-disabled):hover::before, .slider-arrows__next:not(.swiper-button-disabled):hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='17' viewBox='0 0 43 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.61997 8.59035C5.66759 8.46777 5.73899 8.35577 5.83008 8.2608L12.8337 1.26855C12.927 1.17544 13.0378 1.10158 13.1596 1.05118C13.2815 1.00079 13.4122 0.974854 13.5441 0.974854C13.8105 0.974854 14.0661 1.0805 14.2545 1.26855C14.3477 1.36166 14.4217 1.47221 14.4722 1.59386C14.5227 1.71552 14.5487 1.84591 14.5487 1.9776C14.5487 2.24354 14.4429 2.49859 14.2545 2.68664L8.9517 7.97119H36.556C36.8214 7.97119 37.0759 8.0764 37.2635 8.26369C37.4511 8.45097 37.5566 8.70498 37.5566 8.96984C37.5566 9.2347 37.4511 9.48872 37.2635 9.676C37.0759 9.86328 36.8214 9.9685 36.556 9.9685H8.9517L14.2545 15.253C14.3482 15.3459 14.4227 15.4563 14.4735 15.578C14.5243 15.6997 14.5504 15.8303 14.5504 15.9621C14.5504 16.0939 14.5243 16.2245 14.4735 16.3461C14.4227 16.4678 14.3482 16.5783 14.2545 16.6711C14.1614 16.7647 14.0508 16.839 13.9289 16.8897C13.8069 16.9404 13.6762 16.9665 13.5441 16.9665C13.412 16.9665 13.2812 16.9404 13.1593 16.8897C13.0374 16.839 12.9267 16.7647 12.8337 16.6711L5.83008 9.67889C5.73899 9.58391 5.66759 9.47192 5.61997 9.34933C5.5199 9.1062 5.5199 8.83349 5.61997 8.59035Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.slider-arrows__prev--sm, .slider-arrows__next--sm {
  width: 60px;
  height: 60px;
}
.slider-arrows__prev {
  left: -50px;
}
.slider-arrows__next {
  right: -50px;
  -webkit-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.header {
  padding: 35px 0 30px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 49px;
  margin-bottom: 35px;
}
.header__menu {
  display: none;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo img {
  width: 372px;
}
.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #e8e8e8;
  padding-right: 18px;
  border-radius: 6px;
}
.header__search > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.header__search > input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.01);
  padding: 13px 18px;
  font-size: 15px;
}
.header__search > input::-webkit-search-decoration, .header__search > input::-webkit-search-cancel-button, .header__search > input::-webkit-search-results-button, .header__search > input::-webkit-search-results-decoration {
  display: none;
}
.header__search > input::-webkit-input-placeholder {
  color: #61696B;
}
.header__search > input::-moz-placeholder {
  color: #61696B;
}
.header__search > input:-ms-input-placeholder {
  color: #61696B;
}
.header__search > input::-ms-input-placeholder {
  color: #61696B;
}
.header__search > input::placeholder {
  color: #61696B;
}
.header__search > input:focus::-webkit-input-placeholder, .header__search > input:active::-webkit-input-placeholder {
  color: #21292F;
}
.header__search > input:focus::-moz-placeholder, .header__search > input:active::-moz-placeholder {
  color: #21292F;
}
.header__search > input:focus:-ms-input-placeholder, .header__search > input:active:-ms-input-placeholder {
  color: #21292F;
}
.header__search > input:focus::-ms-input-placeholder, .header__search > input:active::-ms-input-placeholder {
  color: #21292F;
}
.header__search > input:focus::placeholder, .header__search > input:active::placeholder {
  color: #21292F;
}
.header__search > input:focus ~ button > svg > path, .header__search > input:active ~ button > svg > path {
  stroke: #1084D6;
}
.header__languages > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__languages > ul > li {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 6px 0px 0px 6px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #e8e8e8;
}
.header__languages > ul > li > a {
  display: block;
  padding: 15px;
}
.header__languages > ul > li > a:hover {
  text-decoration: underline;
}
.header__languages > ul > li.active {
  color: #fff;
  background-color: #139DFE;
  border: transparent;
}
.header__languages > ul > li:last-child {
  border-radius: 0 6px 6px 0;
}
.header__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 13;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  opacity: 0;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  overflow: hidden;
}
.header__close img {
  width: 0;
  height: 0;
}
.header__overlay {
  display: none;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__overlay.active {
  opacity: 1;
}

.navigation {
  font-size: 15px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #139DFE;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.navigation__list a {
  display: block;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
}
.navigation__list > li {
  background-color: #139DFE;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.navigation__list > li > a {
  padding: 25px 43px;
}
.navigation__list > li > ul {
  position: absolute;
  display: none;
  background-color: #1084D6;
  border-radius: 0 0 10px 10px;
  top: calc(100% - 10px);
  left: 0;
  right: 0;
  z-index: 6;
}
.navigation__list > li > ul > li > a {
  padding: 30px 43px;
  text-decoration: underline;
  line-height: 1.3;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
@media screen and (min-width: 1024px) {
  .navigation__list > li > ul > li:hover a {
    color: #A5D820;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__list > li:hover {
    background-color: #1084D6;
  }
  .navigation__list > li:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  margin-top: 50px;
}
.hero .container {
  position: relative;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(1020px - var(--header-size) - 50px);
  padding-bottom: 160px;
}
.hero__slider {
  max-width: 705px;
  margin: 0;
  width: 100%;
  margin-bottom: 40px;
}
.hero__title {
  margin-bottom: 20px;
}
.hero__text {
  color: #61696B;
  font-weight: 300;
}
.hero__benefits {
  margin-top: auto;
}
.hero__benefits > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.hero__benefits > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 40px rgba(23, 63, 90, 0.07), 0px 40px 40px -15px rgba(23, 63, 90, 0.15);
          box-shadow: 0px 0px 40px rgba(23, 63, 90, 0.07), 0px 40px 40px -15px rgba(23, 63, 90, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  width: calc(100% / 3 - 20px);
  padding: 30px;
}
.hero__benefits > ul > li > span {
  font-size: 80px;
  line-height: 0.8;
  color: #139DFE;
  letter-spacing: normal;
  font-family: "MedulaOne", sans-serif;
}
.hero__benefits > ul > li > p {
  font-size: 18px;
  line-height: 1.4;
  margin-left: 20px;
}
.hero__prev {
  top: calc(47% - (var(--header-size) / 2));
}
.hero__next {
  top: calc(47% - (var(--header-size) / 2));
}

.news .container {
  position: relative;
}
.news__info {
  max-width: 670px;
  position: relative;
  z-index: 2;
}
.news__title {
  margin-bottom: 20px;
}
.news__text {
  font-weight: 300;
  color: #61696B;
  margin-bottom: 38px;
}
.news__prev {
  bottom: 154px;
  top: auto;
  -webkit-transform: none;
          transform: none;
}
.news__next {
  bottom: 154px;
  top: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.news-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 740px;
  margin-top: -320px;
}
.news-slider .swiper-wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news-slider__item {
  position: relative;
  width: 28%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news-slider__item.swiper-slide-next + .swiper-slide {
  width: 40%;
}
.news-slider__item.swiper-slide-next + .swiper-slide img {
  height: 740px;
  width: 100%;
}
.news-slider__item.swiper-slide-next + .swiper-slide .news-slider__info {
  padding: 30px;
}
.news-slider__item.swiper-slide-next + .swiper-slide .news-slider__text {
  height: auto;
}
.news-slider__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 380px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  border-radius: 10px;
}
.news-slider__info {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 40px;
  padding: 16px 20px;
  background-color: rgba(46, 59, 68, 0.45);
  -webkit-box-shadow: 0px 0px 40px rgba(23, 63, 90, 0.07), 0px 30px 30px -15px rgba(19, 34, 45, 0.8);
          box-shadow: 0px 0px 40px rgba(23, 63, 90, 0.07), 0px 30px 30px -15px rgba(19, 34, 45, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  -webkit-transition: padding 0.25s ease-out;
  transition: padding 0.25s ease-out;
}
.news-slider__title {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 10px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.news-slider__title:hover {
  color: #A5D820;
}
.news-slider__text {
  font-size: 14px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.directions {
  background-color: #F7F8F9;
  padding: 140px 0;
  margin-bottom: 140px;
}
.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.directions__name {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.directions__item {
  background-color: #fff;
  text-align: center;
  width: calc(100% / 3 - 20px);
  border-radius: 10px;
}
.directions__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.directions__item-inner:hover .directions__name {
  text-decoration: underline;
}
.directions__text {
  font-size: 15px;
  color: #61696B;
}
.directions__info {
  padding: 30px 30px 35px;
  border: 1px solid #E8E8E8;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.directions__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.projects-slider .container {
  position: relative;
}
.projects-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.projects-slider__img {
  width: 50%;
}
.projects-slider__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
}
.projects-slider__info {
  width: 50%;
  padding: 40px;
}
.projects-slider__name {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.projects-slider__text {
  font-size: 15px;
  margin-bottom: 30px;
  color: #61696B;
}
.projects-slider__desc {
  margin-bottom: 30px;
}
.projects-slider__desc li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 15px;
}
.projects-slider__desc li:last-child {
  margin-bottom: 0;
}
.projects-slider__desc li img {
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer {
  margin-top: auto;
  background-color: #283640;
  color: #fff;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 20px;
  padding: 66px 0 32px;
}
.footer__col {
  max-width: 285px;
}
.footer__logo {
  margin-bottom: 33px;
}
.footer__logo img {
  width: 285px;
}
.footer__text {
  font-size: 14px;
  line-height: 1.43;
}
.footer__navigation > ul > li {
  font-size: 15px;
  margin-bottom: 10px;
}
.footer__navigation > ul > li:last-child {
  margin-bottom: 0;
}
.footer__navigation > ul > li > a {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.footer__navigation > ul > li > a:hover {
  color: #A5D820;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}
.footer__contact:last-child {
  margin-bottom: 0;
}
.footer__contact-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__contact-info {
  margin-left: 15px;
}
.footer__contact-caption {
  font-size: 14px;
  color: #E8E8E8;
  margin-bottom: 4px;
}
.footer__contact-text {
  font-size: 15px;
}
.footer__contact-text a:hover {
  text-decoration: underline;
}
.footer__bottom {
  font-size: 15px;
  line-height: 1.33;
  padding: 30px 0;
  border-top: 1px solid #304048;
}

.modal {
  color: #139DFE;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 50, 53, 0.81);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
}
.modal__container {
  max-width: 560px;
  max-height: 90vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 15px;
}
.modal__inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 35px;
  padding: 40px 35px;
  position: relative;
}
.modal__content {
  margin: 0 auto;
}
.modal__close {
  padding: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background: 0;
}

/**************************\
    Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 1620px) {
  .slider-arrows__prev {
    left: 20px;
  }
  .slider-arrows__next {
    right: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .navigation__list > li > a {
    padding: 23px;
  }
  .navigation__list > li > ul > li > a {
    padding: 25px;
  }

  .hero__content {
    min-height: calc(768px - var(--header-size) - 50px);
  }
  .hero__benefits > ul > li {
    padding: 20px;
  }
  .hero__benefits > ul > li > span {
    font-size: 64px;
  }
  .hero__benefits > ul > li > p {
    font-size: 17px;
  }

  .news__text {
    margin-bottom: 25px;
  }
  .news__info {
    max-width: 572px;
  }
  .news__prev, .news__next {
    bottom: 100px;
  }

  .news-slider {
    height: 640px;
    margin-top: -330px;
  }
  .news-slider__item.swiper-slide-next + .swiper-slide img {
    height: 640px;
    width: 100%;
  }
  .news-slider__img img {
    height: 280px;
  }
}
@media screen and (max-width: 1200px) {
  .header__top {
    gap: 0 30px;
  }
  .header__logo img {
    width: 300px;
  }

  .hero__benefits > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__benefits > ul > li {
    width: 100%;
    max-width: 370px;
  }
  .hero__benefits > ul > li > span {
    display: block;
    width: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-align: center;
  }

  .news__info {
    max-width: 50%;
  }

  .news-slider__img img {
    height: 280px;
  }
  .news-slider__item {
    width: calc(50% - 12.5px);
  }
  .news-slider__item.swiper-slide-next {
    width: calc(50% - 12.5px);
  }
  .news-slider__item.swiper-slide-next .news-slider__text {
    height: auto;
  }
  .news-slider__item.swiper-slide-next img {
    height: 640px;
  }
  .news-slider__item.swiper-slide-next + .swiper-slide {
    width: calc(50% - 12.5px);
  }
  .news-slider__item.swiper-slide-next + .swiper-slide .news-slider__text {
    height: 48px;
  }
  .news-slider__item.swiper-slide-next + .swiper-slide img {
    height: 280px;
  }

  .directions__info {
    padding: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 32px;
    margin-bottom: 75px;
  }
  .section-title-sm {
    font-size: 28px;
  }
  .section-title-md {
    font-size: 30px;
  }

  .container {
    padding: 0 15px;
  }

  .section {
    margin: 80px 0;
  }

  .page__title {
    font-size: 32px;
  }

  .news__info {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .news__prev, .news__next {
    bottom: 200px;
  }
  .news__prev {
    left: 45px;
  }
  .news__next {
    right: 45px;
  }

  .news-slider {
    margin-top: 0;
    height: 300px;
  }
  .news-slider__img img {
    height: 300px;
  }
  .news-slider__text {
    height: 46px;
  }
  .news-slider__item {
    width: auto;
  }
  .news-slider__item.swiper-slide-next + .swiper-slide .news-slider__text {
    height: 46px;
  }
  .news-slider__item.swiper-slide-next {
    width: auto;
  }
  .news-slider__item.swiper-slide-next .news-slider__text {
    height: 46px;
  }
  .news-slider__item.swiper-slide-next img {
    height: 300px;
  }
  .news-slider__item.swiper-slide-next + .swiper-slide {
    width: auto;
  }
  .news-slider__item.swiper-slide-next + .swiper-slide img {
    height: 300px;
  }

  .header {
    padding: 15px 0;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
    margin-bottom: 0;
  }
  .header__top .header__logo {
    display: none;
  }
  .header__search {
    margin-bottom: 20px;
    width: 100%;
  }
  .header__inner {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    position: fixed;
    right: 0;
    margin-left: 20px;
    top: 0;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    padding: 70px 20px;
    overflow: auto;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  .header__inner.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__inner.active ~ .header__close {
    overflow: visible;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .header__inner.active ~ .header__close img {
    width: 50px;
    height: 50px;
  }
  .header__logo img {
    width: 280px;
  }

  .navigation {
    margin-bottom: 40px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .navigation__list {
    display: block;
    border-radius: 0;
    background-color: transparent;
  }
  .navigation__list > li {
    background-color: transparent;
    -webkit-transition: background, color 0.25s ease-out;
    transition: background, color 0.25s ease-out;
  }
  .navigation__list > li > a {
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 18px 20px;
    color: #139DFE;
    font-size: 20px;
  }
  .navigation__list > li.active {
    margin-bottom: 20px;
  }
  .navigation__list > li.active > ul {
    display: block;
  }
  .navigation__list > li.active > a {
    background-color: #1084D6;
    color: #fff;
  }
  .navigation__list > li > ul {
    background-color: #f2f8fd;
    position: static;
  }
  .navigation__list > li > ul > li > a {
    padding: 20px;
    color: #21292F;
  }

  .directions {
    padding: 70px 0;
  }

  .projects-slider__info {
    padding: 25px;
  }
  .projects-slider__inner {
    padding-bottom: 100px;
  }
  .projects-slider__prev, .projects-slider__next {
    bottom: 30px;
    top: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .projects-slider__next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .section-title-sm {
    font-size: 22px;
  }
  .section-title-md {
    font-size: 24px;
  }

  .page__title {
    font-size: 26px;
  }

  body {
    font-size: 16px;
  }

  .hero__content {
    padding-bottom: 80px;
  }

  .news-slider {
    height: 400px;
  }
  .news-slider .news-slider__img img {
    height: 400px;
  }

  .slider-arrows__next, .slider-arrows__prev {
    width: 50px;
    height: 50px;
  }
  .slider-arrows__next::before, .slider-arrows__prev::before {
    background-size: 65%;
  }

  .directions__list {
    display: block;
  }
  .directions__item {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .directions__item:last-child {
    margin-bottom: 0;
  }

  .projects-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-slider__img {
    width: 100%;
    margin-bottom: 40px;
  }
  .projects-slider__img img {
    width: 100%;
  }
  .projects-slider__inner {
    padding-bottom: 0;
  }
  .projects-slider__info {
    width: 100%;
    padding: 0;
  }
  .projects-slider__prev {
    left: 40px;
  }
  .projects-slider__next {
    right: 40px;
  }
  .projects-slider__prev, .projects-slider__next {
    bottom: auto;
    top: 240px;
  }
}
@media screen and (max-width: 650px) {
  .footer__col {
    max-width: 100%;
    width: 100%;
  }
  .footer__col:nth-child(2), .footer__col:nth-child(3) {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .hero__content {
    min-height: auto;
  }
  .hero__slider {
    max-height: 600px;
    margin-bottom: 130px;
  }
  .hero__next, .hero__prev {
    top: auto;
    bottom: 410px;
  }

  .news__prev {
    left: 30px;
    bottom: 250px;
  }
  .news__next {
    right: 30px;
    bottom: 250px;
  }

  .projects-slider__img img {
    height: 300px;
  }
  .projects-slider__prev, .projects-slider__next {
    top: 130px;
  }
  .projects-slider__prev {
    left: 10px;
  }
  .projects-slider__next {
    right: 10px;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    margin-top: 30px;
  }
  .hero__benefits > ul > li {
    max-width: 100%;
  }
  .hero__benefits > ul > li > span {
    font-size: 48px;
  }
  .hero__benefits > ul > li > p {
    font-size: 16px;
  }

  .news-slider {
    height: 350px;
  }
  .news-slider .news-slider__img img {
    height: 350px;
  }
}
/*# sourceMappingURL=style.css.map */