.overflow-hidden {
  overflow: hidden;
}
.overflow-hidden body {
  overflow: hidden;
}

.block-scroll {
  overflow: hidden;
  height: 100%;
}
.block-scroll body {
  overflow: hidden;
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button,
input,
textarea {
  outline: transparent;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
}
button::-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}
button:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
}
button::-ms-input-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: inherit;
}
button::placeholder,
input::placeholder,
textarea::placeholder {
  color: inherit;
}

textarea {
  resize: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-btnon,
input::-webkit-inner-spin-btnon {
  -webkit-appearance: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  min-width: 320px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #21292F;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: inline-block;
}
.logo img {
  vertical-align: middle;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.page__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section {
  margin: 35px 0;
}
.btn {
  display: inline-block;
  padding: 23px 30px;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  border-left: 6px solid #A5D820;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #21292F;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  min-width: 193px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.btn:hover, .btn:active {
  background-color: #A5D820;
  color: #fff;
}
.btn--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn--flex span {
  margin-right: 15px;
}
.btn--flex:hover path {
  fill: #fff;
}

.header {
  padding: 24px 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__burger {
  display: none;
}
.header__logo img {
  width: 84px;
}
.header__close {
  display: none;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 4;
}
.header__overlay {
  display: none;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__overlay.active {
  opacity: 1;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer {
  margin-top: auto;
}

.modal {
  color: #139DFE;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 50, 53, 0.81);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
}
.modal__container {
  max-width: 560px;
  max-height: 90vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 15px;
}
.modal__inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 35px;
  padding: 40px 35px;
  position: relative;
}
.modal__content {
  margin: 0 auto;
}
.modal__close {
  padding: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  background: 0;
}

/**************************\
    Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 1400px) {
  .hero__benefits {
    width: auto;
  }

  .system__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .system__box {
    padding-right: 131px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .header__phone {
    font-size: 16px;
  }
  .header__phone::before {
    width: 30px;
    height: 30px;
  }

  .navigation {
    font-size: 16px;
  }
  .navigation__list {
    margin: 0 -12px;
  }
  .navigation__list li {
    margin: 0 12px;
  }

  .hero__title {
    font-size: 46px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
  .hero__slider-wrapper {
    max-width: 580px;
    height: 475px;
    left: 0;
  }
  .hero__slider-info {
    margin-left: 25px;
  }
  .hero__content {
    padding-right: 30px;
  }

  .hero-benefits__item {
    padding: 16px 24px;
    margin: 0 8px;
    width: calc(33.3333333333% - 16px);
  }
  .hero-benefits__list {
    margin: 0 -8px;
  }
  .hero-benefits__text {
    font-size: 16px;
  }

  .hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
    bottom: 30px;
  }
  .hero-slider__item-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about {
    padding-top: 120px;
  }
  .about__img {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  .about__item {
    max-width: 250px;
  }
  .about__list {
    gap: 25px 487px;
  }

  .lead__box {
    max-width: 500px;
  }

  .consult__form {
    margin-right: 0;
    margin-left: 30px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .section__title {
    font-size: 36px;
  }
  .section__subtitle {
    font-size: 20px;
  }

  .header {
    padding: 16px 0;
  }
  .header__close {
    display: block;
  }
  .header__btn {
    margin-left: 0;
  }
  .header__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 12px;
    left: 12px;
    top: 12px;
    bottom: 12px;
    z-index: 7;
    background: url("../img/menu-bg.svg") top left no-repeat;
    background-color: #fff;
    overflow: auto;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    padding: 100px 20px;
    opacity: 0;
    border-radius: 25px;
  }
  .header__menu.active {
    opacity: 1;
  }
  .header__phone {
    display: none;
  }

  .navigation {
    font-size: 30px;
  }
  .navigation__list {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
  }
  .navigation__list li {
    margin: 0;
    margin-bottom: 30px;
  }
  .navigation__list li:last-child {
    margin-bottom: 0;
  }

  .hero {
    position: relative;
    background: linear-gradient(336.25deg, #d3e7ff 52.84%, #d3e7ff 52.84%, #e1f8ff 87.31%);
  }
  .hero__inner {
    display: block;
  }
  .hero__buttons {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
    padding-right: 0;
    text-align: center;
    max-width: 100%;
  }
  .hero__slider-wrapper {
    margin-left: 0;
    max-width: 100%;
    height: 500px;
    margin-bottom: 100px;
  }
  .hero__slider-wrapper::before {
    left: 0;
    width: 100%;
  }
  .hero__discount {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-bottom: 0;
  }

  .benefits-icon {
    width: 48px;
    height: 48px;
    padding: 12px;
  }
  .benefits-icon--darkpink img {
    height: 27px;
    width: auto;
  }

  .hero-benefits__text {
    font-size: 14px;
    margin-left: 16px;
  }

  .hero-slider {
    padding-top: 30px;
  }
  .hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
    bottom: 5px;
  }
  .hero-slider__item-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__content {
    margin-top: 40px;
    min-height: auto;
  }
  .about__name {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .about__img {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    -webkit-transform: none;
            transform: none;
    max-width: 80%;
    margin-bottom: 40px;
  }
  .about__img img {
    max-width: 300px;
  }
  .about__img::before {
    display: none;
  }
  .about__img::after {
    width: 85%;
    height: 85%;
  }
  .about__item {
    max-width: 100%;
  }
  .about__list {
    gap: 25px;
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .video__box {
    margin-top: 24px;
  }
  .video__wrapper::before {
    background: url("../img/player-icon.svg") center/48px no-repeat, -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background: url("../img/player-icon.svg") center/48px no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 26px;
  }
  .video__wrapper video {
    border-radius: 26px;
  }

  .benefits__item {
    padding: 16px 24px;
    margin: 8px;
    width: calc(33.3333333333% - 16px);
  }
  .benefits__name {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .benefits__list {
    padding-top: 50px;
    margin: -8px;
  }

  .lead--2 .lead__inner {
    padding-top: 310px;
    background-position: top left 10%;
    background-size: 110% auto;
    border-radius: 25px 25px 0 0;
  }
  .lead__inner {
    padding-top: 310px;
    background-position: top left 10%;
    background-size: 110% auto;
    border-radius: 25px 25px 0 0;
  }
  .lead__box {
    max-width: 100%;
    border-radius: 0 0 25px 25px;
  }

  .best__discount {
    background-color: #f57676;
  }
  .best__tag {
    background-color: #f57676;
  }
  .best__price-new {
    color: #f57676;
  }
  .best__content {
    overflow: visible;
    margin: 0 -32px;
    padding: 0 32px;
    max-height: 1000px;
  }
  .best__list {
    height: auto;
    margin: 0;
  }
  .best__item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .best__img {
    margin-left: auto;
    margin-right: auto;
  }

  .system__box {
    padding-right: 40px;
    margin-right: 30px;
  }

  .extra__content {
    max-height: 400px;
    margin: 0 -32px;
    padding: 24px 32px 0;
  }
  .extra__item {
    width: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .extra__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .extra__img {
    margin-bottom: 16px;
  }
  .extra__img img {
    height: 180px;
  }
  .extra__name {
    font-size: 18px;
    margin-bottom: 3px;
  }

  .consult {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .consult__form {
    padding: 30px 28px;
  }
  .consult__box {
    padding: 24px;
  }

  .contacts__col {
    display: block;
  }
  .contacts__item {
    margin-bottom: 16px;
  }
  .contacts__item:last-child {
    margin-bottom: 0;
  }

  .form__title {
    display: none;
  }
  .form__input {
    padding-left: 50px;
  }
  .form__icon {
    left: 16px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 32px 0;
  }
  .section__title {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .section__subtitle {
    font-size: 18px;
  }

  .about {
    background-color: transparent;
  }

  .hero {
    margin-bottom: 270px;
    padding-top: 0;
  }
  .hero__inner {
    padding-top: 24px;
  }
  .hero__content {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 8px;
  }
  .hero__title span {
    font-weight: 500;
  }
  .hero__discount {
    font-size: 14px;
  }
  .hero__discount::before {
    width: 20px;
    height: 20px;
  }
  .hero__subtitle {
    margin-bottom: 16px;
  }
  .hero__timer {
    display: none;
  }
  .hero__slider-wrapper {
    height: 280px;
    margin-bottom: 70px;
  }
  .hero__slider-wrapper::before {
    display: none;
  }
  .hero__buttons {
    bottom: 70px;
  }

  .hero-benefits {
    top: 270px;
    margin-top: -210px;
  }
  .hero-benefits__item {
    width: 100%;
    max-width: 380px;
    margin-bottom: 14px;
  }
  .hero-benefits__item:last-child {
    margin-bottom: 0;
  }
  .hero-benefits__list {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero-slider {
    overflow: visible;
    padding: 0;
    padding-bottom: 30px;
  }
  .hero-slider .swiper-pagination {
    display: block;
  }
  .hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
    display: none;
  }
  .hero-slider__item {
    opacity: 0.8;
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    min-width: 200px;
    max-width: 350px;
  }
  .hero-slider__item.swiper-slide-active {
    opacity: 1;
  }
  .hero-slider__info {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .hero-slider__title {
    font-size: 18px;
    color: #5f6c8b;
    margin-bottom: 5px;
  }
  .hero-slider__subtitle {
    display: none;
  }
  .hero-slider__img {
    padding: 10px;
    -webkit-filter: none;
            filter: none;
  }
  .hero-slider__img img {
    height: 170px;
    width: auto;
  }
  .hero-slider__discount {
    display: none;
  }
  .hero-slider__item {
    position: relative;
  }
  .hero-slider__item::before {
    position: absolute;
    content: "";
    top: 63px;
    height: calc(100% - 63px);
    background-color: #f5f8fa;
    width: 100%;
    border-radius: 25px;
  }
  .hero-slider__item-inner {
    display: block;
    position: relative;
    z-index: 3;
    padding: 15px;
  }
  .hero-slider__price {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-slider__price-new {
    font-size: 24px;
  }
  .hero-slider__price-old {
    color: rgba(118, 134, 173, 0.6);
    font-size: 16px;
    margin-left: 8px;
  }

  .video::before {
    background: url("../img/wave-1-mob.svg") center repeat-x;
    bottom: -200px;
  }

  .benefits__item {
    margin: 0;
    margin-bottom: 16px;
    width: auto;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
  .benefits__list {
    padding-top: 24px;
    margin: 0;
    display: block;
  }

  .why__content-wrapper {
    max-height: 520px;
    overflow: visisble;
    margin: 0 -32px;
    padding: 24px 32px 0;
  }
  .why__content {
    margin: 0;
  }
  .why__col {
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
    min-width: 260px;
  }
  .why__col:first-child {
    margin-left: 0;
  }
  .why__img {
    margin: 0;
    margin-bottom: 16px;
  }
  .why__img img {
    border-radius: 25px;
  }
  .why__item {
    margin: 0;
  }
  .why__item .benefits-icon {
    display: none;
  }
  .why__name {
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .best__content {
    padding-top: 24px;
  }

  .system__inner {
    position: relative;
    padding-top: 120px;
  }
  .system__head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .system__box {
    padding: 0;
    margin: 0;
  }
  .system__box::before {
    left: -55px;
    width: 353px;
    height: 266px;
    background-size: cover;
  }
  .system__element {
    min-width: 250px;
  }
  .system__element--1 {
    top: 42px;
    left: 161px;
  }
  .system__element--2 {
    top: 183px;
    left: 107px;
  }
  .system__element--3 {
    bottom: 85px;
    left: 145px;
  }
  .system__element--4 {
    bottom: 28px;
    left: 104px;
  }
  .system__element--5 {
    bottom: 34px;
    left: 54px;
  }
  .system__element--6 {
    top: 194px;
    left: 151px;
  }
  .system__img {
    margin: 0;
  }
  .system__img img {
    width: 260px;
  }
  .system__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .consult {
    background: linear-gradient(293.42deg, #d3e7ff 66.73%, #d3e7ff 66.73%, #e1f8ff 99.24%);
    padding: 25px 0;
  }
  .consult__title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .consult__subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .consult__form {
    border-radius: 28px;
  }
  .consult__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 40px;
  }
  .consult__form {
    margin-left: 0;
  }
  .consult__info {
    padding-bottom: 0;
    text-align: center;
    max-width: 100%;
  }

  .contacts {
    border: none;
    border-radius: 0;
    background: 0;
    padding: 0;
  }
  .contacts__icon {
    background: #eff5fb;
  }
  .contacts__text {
    font-size: 16px;
  }

  .form__input {
    font-size: 16px;
  }
  .form__radio-text {
    font-size: 15px;
  }

  .footer {
    padding-bottom: 36px;
  }
  .footer__logo {
    margin-bottom: 16px;
  }
  .footer__logo img {
    width: 86px;
  }

  .modal__title {
    font-size: 18px;
  }
  .modal__inner {
    padding: 45px 16px 32px;
  }

  .modal-thanks__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 18px;
  }
  .modal-thanks__btn {
    display: block;
    width: 100%;
  }
  .modal-thanks__subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 24px;
  }

  .modal-contacts .modal__inner {
    padding: 32px 24px;
  }
}
@media screen and (max-width: 600px) {
  .header__logo img {
    width: 72px;
  }

  .hero__content {
    max-width: 350px;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__subtitle {
    font-size: 13px;
    margin-bottom: 8px;
  }
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__slider-wrapper {
    margin-bottom: 135px;
  }

  .hero-slider__item {
    width: 300px;
  }

  .about__img img {
    width: 191px;
  }
  .about__list {
    display: block;
  }
  .about__list.active .about__item:nth-child(3) ~ .about__item {
    display: block;
  }
  .about__item {
    margin-bottom: 40px;
  }
  .about__item:nth-child(3) ~ .about__item {
    display: none;
  }
  .about__more {
    display: inline-block;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.0025em;
    text-decoration: underline;
    color: #5f6c8b;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .video::before {
    background: url("../img/wave-1-mob.svg") center left 81% repeat-x;
    bottom: -375px;
  }

  .lead .container {
    padding: 0 25px;
  }
  .lead__subtitle {
    font-size: 15px;
    line-height: 1.1;
  }
  .lead__title {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 1.16;
  }
  .lead__box {
    padding: 24px 32px;
    background: url("../img/lead-waves-mob.svg") center/cover no-repeat, linear-gradient(293.42deg, #d3e7ff 66.73%, #d3e7ff 66.73%, #e1f8ff 99.24%);
  }
  .lead__inner {
    padding-top: 210px;
  }
  .lead--2 .lead__inner {
    padding-top: 210px;
  }

  .best__item {
    padding: 24px;
  }
  .best__subtitle {
    font-size: 15px;
  }
  .best__title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .best__price {
    margin-top: 24px;
  }

  .why {
    background: url("../img/wave-2-mob.svg") top 170px left repeat-x;
  }

  .system__element {
    display: block;
    min-width: auto;
  }
  .system__element-btn {
    width: 22px;
    height: 22px;
  }
  .system__element-text {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    top: 23px;
    left: -160px;
    width: 170px;
  }
  .system__list::before {
    left: 12px;
    height: calc(100% - 38px);
  }
  .system__list li {
    margin-bottom: 24px;
  }
  .system__list li::after {
    width: 26px;
    height: 26px;
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
  .system__list li::before {
    width: 11px;
    height: 11px;
    left: 8px;
    top: 8px;
    -webkit-transform: none;
            transform: none;
  }

  .coop__slider-nav {
    display: none;
  }
  .coop__content {
    padding-top: 24px;
  }
  .coop__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    border: none;
    background: 0;
    margin-bottom: 18px;
    padding: 0;
  }
  .coop__item:last-child {
    margin-bottom: 0;
  }
  .coop__item:last-child .coop__num::after {
    display: none;
  }
  .coop__item:last-child .coop__text {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
  }
  .coop__num {
    position: relative;
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
  .coop__num::after {
    position: absolute;
    content: "";
    background: url("../img/arrow-down.svg") center no-repeat;
    width: 12px;
    height: 21px;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .coop__text {
    margin-left: 16px;
  }
  .coop__title {
    display: none;
  }

  .modal-buy .form__radio {
    padding: 0;
  }
  .modal-buy .form__btn {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .hero-slider__item {
    width: 200px;
  }

  .lead__btn {
    padding: 20px 10px;
    width: 100%;
    font-size: 17px;
  }
  .lead--2 .lead__inner {
    background-size: 150% auto;
  }
  .lead__inner {
    background-size: 150% auto;
  }

  .best__item {
    width: 260px;
  }
  .best__info {
    max-width: 185px;
  }

  .system__box::before {
    width: 302px;
    height: 230px;
    top: 57%;
    left: -61px;
  }
  .system__img img {
    width: 173px;
  }
  .system__element--1 {
    top: 25px;
    left: 106px;
  }
  .system__element--2 {
    top: 136px;
    left: 64px;
  }
  .system__element--2 .system__element-text {
    left: 23px;
  }
  .system__element--3 {
    bottom: 56px;
    left: 94px;
  }
  .system__element--3.active {
    z-index: 7;
  }
  .system__element--4 {
    bottom: 18px;
    left: 71px;
  }
  .system__element--4 .system__element-text {
    left: 11px;
  }
  .system__element--5 {
    bottom: 18px;
    left: 28px;
  }
  .system__element--5 .system__element-text {
    left: 11px;
  }
  .system__element--6 {
    top: 124px;
    left: 98px;
  }
}