@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
	.navigation {
		&__list {
			& > li > a {
				padding: 23px;
			}
		}
	}
}

// 1024
@media screen and (max-width: $mobileBreakpoint) {
	.header {
		padding: 15px 0;
		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__top {
			flex-direction: column;
			margin-top: auto;
			margin-bottom: 0;
			.header__logo {
				display: none;
			}
		}
		&__search {
			margin-bottom: 20px;
			width: 100%;
		}
		&__inner {
			display: none;
			flex-direction: column-reverse;
			transform: translateX(100%);
			position: fixed;
			right: 0;
			margin-left: 20px;
			top: 0;
			height: 100vh;
			max-width: 400px;
			width: 100%;
			z-index: 10;
			background-color: $white;
			padding: 70px 20px;
			overflow: auto;
			transition: $transition;
			&.active {
				transform: translateX(0);
				& ~ .header__close {
					overflow: visible;
					opacity: 1;
					transform: rotate(0deg);
					img {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		&__logo img {
			width: 280px;
		}
	}
	.navigation {
		margin-bottom: 40px;
		&__list {
			display: block;
			border-radius: 0;
			background-color: transparent;
			& > li {
				background-color: transparent;
				transition: background, color $transition;
				& > a {
					border-radius: 10px 10px 0 0;
					width: 100%;
					padding: 18px 20px;
					color: $main;
					font-size: 20px;
				}
				&.active {
					margin-bottom: 20px;
					& > ul {
						display: block;
					}
					& > a {
						background-color: $mainHover;
						color: $white;
					}
				}
				& > ul {
					background-color: $main;
					position: static;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
}
