@media screen and (max-width: 1620px) {
	.slider-arrows {
		&__prev {
			left: 20px;
		}
		&__next {
			right: 20px;
		}
	}
}

@media screen and (max-width: 1440px) {
	.navigation {
		&__list {
			& > li {
				& > a {
					padding: 23px;
				}
				& > ul > li > a {
					padding: 25px;
				}
			}
		}
	}
	.hero {
		&__content {
			min-height: calc(768px - var(--header-size) - 50px);
		}
		&__benefits {
			& > ul > li {
				padding: 20px;
				& > span {
					font-size: 64px;
				}
				& > p {
					font-size: 17px;
				}
			}
		}
	}
	.news {
		&__text {
			margin-bottom: 25px;
		}
		&__info {
			max-width: 572px;
		}
		&__prev,
		&__next {
			bottom: 100px;
		}
	}
	.news-slider {
		height: 640px;
		margin-top: -330px;
		&__item {
			&.swiper-slide-next + .swiper-slide {
				img {
					height: 640px;
					width: 100%;
				}
			}
		}

		&__img {
			img {
				height: 280px;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.header {
		&__top {
			gap: 0 30px;
		}
		&__logo img {
			width: 300px;
		}
	}
	.hero {
		&__benefits {
			& > ul {
				flex-direction: column;
				align-items: center;
				& > li {
					width: 100%;
					max-width: 370px;
					& > span {
						display: block;
						width: 60px;
						flex-shrink: 0;
						text-align: center;
					}
				}
			}
		}
	}
	.news {
		&__info {
			max-width: 50%;
		}
	}
	.news-slider {
		&__img img {
			height: 280px;
		}
		&__item {
			width: calc(50% - 12.5px);
			&.swiper-slide-next {
				.news-slider__text {
					height: auto;
				}
				width: calc(50% - 12.5px);
				img {
					height: 640px;
				}
				& + .swiper-slide {
					width: calc(50% - 12.5px);
					.news-slider__text {
						height: 48px;
					}
					img {
						height: 280px;
					}
				}
			}
		}
	}
	.directions__info {
		padding: 20px;
	}
	.projects {
		&__inner {
			display: block;
		}
	}
	.filter {
		position: relative;
		margin-bottom: 40px;
		transition: $transition;
		&__content {
			display: none;
			transition: $transition;
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			height: 100vh;
			overflow: auto;
			padding: 50px 30px;
			background-color: $white;
			max-width: 350px;
			box-shadow: 1px 1px 8px rgba($black, 0.1);
			z-index: 7;
			transform: translateX(-100%);
			border-radius: 10px;
			&.active {
				transform: translateX(0);
				border: none;
				border-radius: 0;
			}
		}
		&__close {
			display: block;
			position: absolute;
			right: 15px;
			top: 15px;
		}
		&__overlay {
			display: none;
			transition: $transition;
			position: fixed;
			z-index: 5;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.6);
			&.active {
				opacity: 1;
			}
		}
		&__btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 14px 32px;
			color: $white;
			font-weight: 500;
			font-size: 15px;
			line-height: 1.4;
			background-color: $main;
			border-radius: 4px;
			transition: $transition;
			&:hover,
			&:active {
				background-color: $mainHover;
			}
			span {
				margin-left: 10px;
			}
			img {
				flex-shrink: 0;
			}
		}
	}
	.pagination {
		ul {
			justify-content: center;
		}
	}
	.licenses {
		&__name {
			font-size: 17px;
		}
		&__item-inner {
			padding: 20px;
		}
	}
}

// 1024
@media screen and (max-width: $mobileBreakpoint) {
	.section-title {
		font-size: 32px;
		margin-bottom: 75px;
		&-sm {
			font-size: 28px;
		}
		&-md {
			font-size: 30px;
		}
	}
	.container {
		padding: 0 15px;
	}
	.section {
		margin: 80px 0;
	}
	.page {
		&__title {
			font-size: 32px;
		}
	}
	.news {
		&__info {
			max-width: 100%;
			margin-bottom: 40px;
		}
		&__prev,
		&__next {
			bottom: 200px;
		}
		&__prev {
			left: 45px;
		}
		&__next {
			right: 45px;
		}
	}
	.news-slider {
		margin-top: 0;
		height: 300px;
		&__img img {
			height: 300px;
		}
		&__text {
			height: 46px;
		}
		&__item {
			width: auto;
			&.swiper-slide-next + .swiper-slide {
				.news-slider__text {
					height: 46px;
				}
			}
			&.swiper-slide-next {
				width: auto;
				.news-slider__text {
					height: 46px;
				}
				img {
					height: 300px;
				}
				& + .swiper-slide {
					width: auto;
					img {
						height: 300px;
					}
				}
			}
		}
	}
	.header {
		padding: 15px 0;
		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__top {
			flex-direction: column;
			margin-top: auto;
			margin-bottom: 0;
			.header__logo {
				display: none;
			}
		}
		&__search {
			margin-bottom: 20px;
			width: 100%;
		}
		&__inner {
			display: none;
			flex-direction: column;
			transform: translateX(100%);
			position: fixed;
			right: 0;
			margin-left: 20px;
			top: 0;
			height: 100vh;
			max-width: 400px;
			width: 100%;
			z-index: 10;
			background-color: $white;
			padding: 70px 20px;
			overflow: auto;
			transition: $transition;
			&.active {
				transform: translateX(0);
				& ~ .header__close {
					overflow: visible;
					opacity: 1;
					transform: rotate(0deg);
					img {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		&__logo img {
			width: 280px;
		}
	}
	.navigation {
		margin-bottom: 40px;
		order: -1;
		&__list {
			display: block;
			border-radius: 0;
			background-color: transparent;
			& > li {
				background-color: transparent;
				transition: background, color $transition;
				& > a {
					border-radius: 10px 10px 0 0;
					width: 100%;
					padding: 18px 20px;
					color: $main;
					font-size: 20px;
				}
				&.active {
					margin-bottom: 20px;
					& > ul {
						display: block;
					}
					& > a {
						background-color: $mainHover;
						color: $white;
					}
				}
				& > ul {
					background-color: #f2f8fd;
					position: static;
					& > li > a {
						padding: 20px;
						color: $black;
					}
				}
			}
		}
	}
	.directions {
		padding: 70px 0;
	}
	.projects-slider {
		&__info {
			padding: 25px;
		}
		&__inner {
			padding-bottom: 100px;
		}
		&__prev,
		&__next {
			bottom: 30px;
			top: auto;
			transform: none;
			transform-origin: center;
		}
		&__next {
			transform: rotate(180deg);
		}
	}
	.hero-about {
		padding-bottom: 150px;
		min-height: auto;
		&__inner {
			grid-template-columns: 1fr 1fr;
			gap: 35px;
		}
	}
	.about {
		&__inner {
			grid-template-columns: 1fr 1fr;
			gap: 35px;
		}
	}
	.map {
		&__inner {
			padding: 60px 0;
		}
	}
	.projects {
		margin: 70px 0;
	}
	.pagination {
		margin: 45px 0;
	}
	.licenses {
		&__item-inner {
			padding: 15px;
		}
		&__name {
			font-size: 16px;
		}
	}
	.articles-slider__date {
		bottom: auto;
		top: 30px;
	}
}

@media screen and (max-width: 768px) {
	.section-title {
		font-size: 26px;
		margin-bottom: 50px;
		&-sm {
			font-size: 22px;
		}
		&-md {
			font-size: 24px;
		}
	}
	.page {
		&__title {
			font-size: 26px;
		}
	}
	.page-head {
		&__info {
			padding-bottom: 60px;
		}
	}
	.gas {
		margin-top: 45px;
	}
	body {
		font-size: 16px;
	}
	.hero {
		&__content {
			padding-bottom: 80px;
		}
	}
	.news-slider {
		height: 400px;
		.news-slider__img img {
			height: 400px;
		}
	}
	.slider-arrows {
		&__next,
		&__prev {
			width: 50px;
			height: 50px;
			&::before {
				background-size: 65%;
			}
		}
	}
	.directions {
		&__list {
			display: block;
		}
		&__item {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.projects-slider {
		&__item {
			flex-direction: column;
		}
		&__img {
			width: 100%;
			margin-bottom: 40px;
			img {
				width: 100%;
			}
		}
		&__inner {
			padding-bottom: 0;
		}
		&__info {
			width: 100%;
			padding: 0;
			border: none;
		}
		&__prev {
			left: 40px;
		}
		&__next {
			right: 40px;
		}
		&__prev,
		&__next {
			bottom: auto;
			top: 240px;
		}
	}
	.hero-about {
		padding-bottom: 100px;
		&__inner {
			grid-template-columns: 1fr;
		}
	}
	.about {
		&__inner {
			grid-template-columns: 1fr;
		}
		&__preview {
			picture {
				justify-content: center;
			}
		}
	}
	.pagination {
		li {
			&:not(.active):not(:first-child):not(:last-child):nth-child(even) {
				display: none;
			}
		}
	}
	.licenses {
		margin: 45px 0;
		&__items {
			grid-template-columns: 1fr 1fr;
		}
	}
	.article {
		margin: 40px 0 60px;
		&__title {
			margin-bottom: 45px;
		}
		&__slider {
			width: 100%;
			float: none;
		}
	}
	.articles-slider {
		margin: 70px 0;
		&__title {
			font-size: 18px;
		}
		&__item {
			padding: 20px;
		}
		&__img {
			margin: -20px -20px 20px;
		}
	}
}

@media screen and (max-width: 650px) {
	.footer {
		&__col {
			max-width: 100%;
			width: 100%;

			&:nth-child(2),
			&:nth-child(3) {
				width: calc(50% - 10px);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.hero {
		&__content {
			min-height: auto;
		}
		&__slider {
			max-height: 600px;
			margin-bottom: 130px;
		}
		&__next,
		&__prev {
			top: auto;
			bottom: 410px;
		}
	}
	.news {
		&__prev {
			left: 30px;
			bottom: 250px;
		}
		&__next {
			right: 30px;
			bottom: 250px;
		}
	}
	.projects-slider {
		&__img {
			img {
				height: 300px;
			}
		}
		&__prev,
		&__next {
			top: 130px;
		}
		&__prev {
			left: 10px;
		}
		&__next {
			right: 10px;
		}
	}
	.about {
		&__player {
			width: 80px;
			height: 80px;
			&::before {
				width: 48px;
				height: 48px;
			}
			img {
				width: 14px;
				height: 14px;
			}
		}
	}
	.projects {
		&__items {
			display: block;
		}
		&__item {
			border-radius: 13px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.modal {
		&__inner {
			padding: 20px;
		}
		&__img picture {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 450px) {
	.hero {
		margin-top: 30px;
		&__benefits {
			& > ul {
				& > li {
					max-width: 100%;
					& > span {
						font-size: 48px;
					}
					& > p {
						font-size: 16px;
					}
				}
			}
		}
	}
	.directions__img--big img {
		height: 240px;
	}
	.news-slider {
		height: 350px;
		.news-slider__img img {
			height: 350px;
		}
	}
	.projects {
		&__img {
			margin: -20px -20px 20px;
		}
		&__item {
			padding: 20px;
		}
	}
	.pagination {
		ul {
			gap: 5px 10px;
		}
		li {
			width: 35px;
			height: 35px;
			font-size: 14px;
		}
		svg {
			width: 18px;
		}
	}
	.licenses {
		&__items {
			display: block;
		}
		&__item {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__img {
			picture {
				justify-content: center;
			}
		}
	}
	.article {
		&__prev {
			left: 10px;
		}
		&__next {
			right: 10px;
		}
		&__slider {
			height: 300px;
		}
	}
	.articles-slider {
		&__img img {
			height: 200px;
		}
		&__date {
			top: 10px;
			left: 10px;
		}
		&__prev,
		&__next {
			top: 29%;
		}
		&__prev {
			left: 10px;
		}
		&__next {
			right: 10px;
		}
	}
}
