@media screen and (max-width: 1400px) {
	.hero__benefits {
		width: auto;
	}
	.system {
		&__inner {
			justify-content: space-between;
		}
		&__box {
			padding-right: 131px;
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.header {
		&__phone {
			font-size: 16px;
			&::before {
				width: 30px;
				height: 30px;
			}
		}
	}
	.navigation {
		font-size: 16px;
		&__list {
			margin: 0 -12px;
			li {
				margin: 0 12px;
			}
		}
	}
	.hero {
		&__title {
			font-size: 46px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__slider-wrapper {
			max-width: 580px;
			height: 475px;
			left: 0;
		}
		&__slider-info {
			margin-left: 25px;
		}
		&__content {
			padding-right: 30px;
		}
	}
	.hero-benefits {
		&__item {
			padding: 16px 24px;
			margin: 0 8px;
			width: calc(100% / 3 - 16px);
		}
		&__list {
			margin: 0 -8px;
		}
		&__text {
			font-size: 16px;
		}
	}
	.hero-slider {
		.swiper-button-next,
		.swiper-button-prev {
			bottom: 30px;
		}
		&__item-inner {
			align-items: center;
		}
	}
	.about {
		padding-top: 120px;
		&__img {
			transform: translate(-50%, -50%) scale(0.8);
		}
		&__item {
			max-width: 250px;
		}
		&__list {
			gap: 25px 487px;
		}
	}
	.lead {
		&__box {
			max-width: 500px;
		}
	}
	.consult {
		&__form {
			margin-right: 0;
			margin-left: 30px;
		}
	}
}

// 1024
@media screen and (max-width: $mobileBreakpoint) {
	body {
		font-size: 14px;
	}
	.section {
		&__title {
			font-size: 36px;
		}
		&__subtitle {
			font-size: 20px;
		}
	}
	.header {
		padding: 16px 0;
		&__close {
			display: block;
		}
		&__btn {
			margin-left: 0;
		}
		&__menu {
			display: none;
			flex-direction: column;
			align-items: center;
			position: fixed;
			right: 12px;
			left: 12px;
			top: 12px;
			bottom: 12px;
			z-index: 7;
			background: url("../img/menu-bg.svg") top left no-repeat;
			background-color: $white;
			overflow: auto;
			transition: $menuTransition;
			padding: 100px 20px;
			opacity: 0;
			border-radius: 25px;
			&.active {
				opacity: 1;
			}
		}
		&__phone {
			display: none;
		}
	}
	.navigation {
		font-size: 30px;
		&__list {
			display: block;
			text-align: center;
			margin: 0;
			margin-bottom: 60px;
			li {
				margin: 0;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.hero {
		position: relative;
		background: linear-gradient(
			336.25deg,
			#d3e7ff 52.84%,
			#d3e7ff 52.84%,
			#e1f8ff 87.31%
		);
		&__inner {
			display: block;
		}
		&__buttons {
			position: absolute;
			bottom: 80px;
			left: 0;
			right: 0;
			margin: 0 auto;
			justify-content: center;
			flex-wrap: nowrap;
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 40px;
			padding-right: 0;
			text-align: center;
			max-width: 100%;
		}
		&__slider-wrapper {
			margin-left: 0;
			max-width: 100%;
			height: 500px;
			margin-bottom: 100px;
			&::before {
				left: 0;
				width: 100%;
			}
		}
		&__discount {
			order: 5;
			margin-bottom: 0;
		}
	}
	.benefits-icon {
		width: 48px;
		height: 48px;
		padding: 12px;
		&--darkpink {
			img {
				height: 27px;
				width: auto;
			}
		}
	}
	.hero-benefits {
		&__text {
			font-size: 14px;
			margin-left: 16px;
		}
	}
	.hero-slider {
		padding-top: 30px;
		.swiper-button-prev,
		.swiper-button-next {
			bottom: 5px;
		}
		&__item-inner {
			justify-content: center;
		}
	}
	.about {
		&__content {
			margin-top: 40px;
			min-height: auto;
		}
		&__name {
			font-size: 18px;
			margin-bottom: 8px;
		}
		&__img {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			transform: none;
			max-width: 80%;
			margin-bottom: 40px;
			img {
				max-width: 300px;
			}
			&::before {
				display: none;
			}
			&::after {
				width: 85%;
				height: 85%;
			}
		}
		&__item {
			max-width: 100%;
		}
		&__list {
			gap: 25px;
			grid-template-columns: 1fr 1fr;
		}
	}
	.video {
		&__box {
			margin-top: 24px;
		}
		&__wrapper {
			&::before {
				background: url("../img/player-icon.svg") center / 48px no-repeat,
					linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
				border-radius: 26px;
			}
			video {
				border-radius: 26px;
			}
		}
	}
	.benefits {
		&__item {
			padding: 16px 24px;
			margin: 8px;
			width: calc(100% / 3 - 16px);
		}
		&__name {
			font-size: 18px;
			margin-top: 16px;
			margin-bottom: 8px;
		}
		&__list {
			padding-top: 50px;
			margin: -8px;
		}
	}
	.lead {
		&--2 {
			.lead__inner {
				padding-top: 310px;
				background-position: top left 10%;
				background-size: 110% auto;
				border-radius: 25px 25px 0 0;
			}
		}
		&__inner {
			padding-top: 310px;
			background-position: top left 10%;
			background-size: 110% auto;
			border-radius: 25px 25px 0 0;
		}
		&__box {
			max-width: 100%;
			border-radius: 0 0 25px 25px;
		}
	}
	.best {
		&__discount {
			background-color: #f57676;
		}
		&__tag {
			background-color: #f57676;
		}
		&__price-new {
			color: #f57676;
		}
		&__content {
			overflow: visible;
			margin: 0 -32px;
			padding: 0 32px;
			max-height: 1000px;
		}
		&__list {
			height: auto;
			margin: 0;
		}
		&__item {
			flex-shrink: 0;
			width: auto;
			min-height: auto;
			margin: 0;
		}
		&__img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.system {
		&__box {
			padding-right: 40px;
			margin-right: 30px;
		}
	}
	.extra {
		&__content {
			max-height: 400px;
			margin: 0 -32px;
			padding: 24px 32px 0;
		}
		&__item {
			width: 260px;
			flex-shrink: 0;
			box-sizing: border-box;
			margin: 0;
		}
		&__list {
			flex-wrap: nowrap;
		}
		&__img {
			margin-bottom: 16px;
			img {
				height: 180px;
			}
		}
		&__name {
			font-size: 18px;
			margin-bottom: 3px;
		}
	}
	.consult {
		margin-top: 0;
		margin-bottom: 40px;
		&__form {
			padding: 30px 28px;
		}
		&__box {
			padding: 24px;
		}
	}
	.contacts {
		&__col {
			display: block;
		}
		&__item {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.form {
		&__title {
			display: none;
		}
		&__input {
			padding-left: 50px;
		}
		&__icon {
			left: 16px;
		}
	}
}

@media screen and (max-width: 768px) {
	.section {
		padding: 32px 0;
		&__title {
			font-size: 25px;
			margin-bottom: 8px;
		}
		&__subtitle {
			font-size: 18px;
		}
	}
	.about {
		background-color: transparent;
	}
	.hero {
		margin-bottom: 270px;
		padding-top: 0;
		&__inner {
			padding-top: 24px;
		}
		&__content {
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
		}
		&__title {
			font-weight: 500;
			font-size: 40px;
			margin-bottom: 8px;
			span {
				font-weight: 500;
			}
		}
		&__discount {
			font-size: 14px;
			&::before {
				width: 20px;
				height: 20px;
			}
		}
		&__subtitle {
			margin-bottom: 16px;
		}
		&__timer {
			display: none;
		}
		&__slider-wrapper {
			height: 280px;
			margin-bottom: 70px;
			&::before {
				display: none;
			}
		}
		&__buttons {
			bottom: 70px;
		}
	}
	.hero-benefits {
		top: 270px;
		margin-top: -210px;
		&__item {
			width: 100%;
			max-width: 380px;
			margin-bottom: 14px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__list {
			margin: 0;
			justify-content: center;
		}
	}
	.hero-slider {
		overflow: visible;
		padding: 0;
		padding-bottom: 30px;
		.swiper-pagination {
			display: block;
		}
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
		&__item {
			opacity: 0.8;
			transition: $transition;
			min-width: 200px;
			max-width: 350px;
			&.swiper-slide-active {
				opacity: 1;
			}
		}
		&__info {
			margin: 0;
			padding: 0;
			text-align: center;
		}
		&__title {
			font-size: 18px;
			color: #5f6c8b;
			margin-bottom: 5px;
		}
		&__subtitle {
			display: none;
		}
		&__img {
			padding: 10px;
			filter: none;
			img {
				height: 170px;
				width: auto;
			}
		}
		&__discount {
			display: none;
		}
		&__item {
			position: relative;
			&::before {
				position: absolute;
				content: "";
				top: 63px;
				height: calc(100% - 63px);
				background-color: #f5f8fa;
				width: 100%;
				border-radius: 25px;
			}
		}
		&__item-inner {
			display: block;
			position: relative;
			z-index: 3;
			padding: 15px;
		}
		&__price {
			border: none;
			padding-bottom: 0;
			margin-bottom: 0;
			justify-content: center;
			align-items: center;
			&-new {
				font-size: 24px;
			}
			&-old {
				color: rgba(#7686ad, 0.6);
				font-size: 16px;
				margin-left: 8px;
			}
		}
	}
	.video {
		&::before {
			background: url("../img/wave-1-mob.svg") center repeat-x;
			bottom: -200px;
		}
	}
	.benefits {
		&__item {
			margin: 0;
			margin-bottom: 16px;
			width: auto;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__list {
			padding-top: 24px;
			margin: 0;
			display: block;
		}
	}
	.why {
		&__content-wrapper {
			max-height: 520px;
			overflow: visisble;
			margin: 0 -32px;
			padding: 24px 32px 0;
		}
		&__content {
			margin: 0;
		}
		&__col {
			display: block;
			flex-shrink: 0;
			margin: 0;
			min-width: 260px;
			&:first-child {
				margin-left: 0;
			}
		}
		&__img {
			margin: 0;
			margin-bottom: 16px;
			img {
				border-radius: 25px;
			}
		}
		&__item {
			margin: 0;
			.benefits-icon {
				display: none;
			}
		}
		&__name {
			font-weight: 500;
			font-size: 18px;
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
	.best__content {
		padding-top: 24px;
	}
	.system {
		&__inner {
			position: relative;
			padding-top: 120px;
		}
		&__head {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
		}
		&__box {
			padding: 0;
			margin: 0;
			&::before {
				left: -55px;
				width: 353px;
				height: 266px;
				background-size: cover;
			}
		}
		&__element {
			min-width: 250px;
			&--1 {
				top: 42px;
				left: 161px;
			}
			&--2 {
				top: 183px;
				left: 107px;
			}
			&--3 {
				bottom: 85px;
				left: 145px;
			}
			&--4 {
				bottom: 28px;
				left: 104px;
			}
			&--5 {
				bottom: 34px;
				left: 54px;
			}
			&--6 {
				top: 194px;
				left: 151px;
			}
		}
		&__img {
			margin: 0;
			img {
				width: 260px;
			}
		}
		&__inner {
			flex-direction: column;
			align-items: center;
		}
	}
	.consult {
		background: linear-gradient(
			293.42deg,
			#d3e7ff 66.73%,
			#d3e7ff 66.73%,
			#e1f8ff 99.24%
		);
		padding: 25px 0;
		&__title {
			font-size: 28px;
			margin-bottom: 8px;
		}
		&__subtitle {
			font-size: 16px;
			margin-bottom: 24px;
		}
		&__form {
			border-radius: 28px;
		}
		&__box {
			flex-direction: column;
			align-items: center;
			background: 0;
			border: none;
			border-radius: 0;
			padding: 0;
			margin-bottom: 40px;
		}
		&__form {
			margin-left: 0;
		}
		&__info {
			padding-bottom: 0;
			text-align: center;
			max-width: 100%;
		}
	}
	.contacts {
		border: none;
		border-radius: 0;
		background: 0;
		padding: 0;
		&__icon {
			background: #eff5fb;
		}
		&__text {
			font-size: 16px;
		}
	}
	.form {
		&__input {
			font-size: 16px;
		}
		&__radio-text {
			font-size: 15px;
		}
	}
	.footer {
		padding-bottom: 36px;
		&__logo {
			margin-bottom: 16px;
			img {
				width: 86px;
			}
		}
	}
	.modal {
		&__title {
			font-size: 18px;
		}
		&__inner {
			padding: 45px 16px 32px;
		}
	}
	.modal-thanks {
		&__title {
			font-size: 40px;
			text-align: center;
			margin-bottom: 18px;
		}
		&__btn {
			display: block;
			width: 100%;
		}
		&__subtitle {
			font-size: 18px;
			text-align: center;
			margin-bottom: 24px;
		}
	}
	.modal-contacts {
		.modal__inner {
			padding: 32px 24px;
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		&__logo {
			img {
				width: 72px;
			}
		}
	}
	.hero {
		&__content {
			max-width: 350px;
		}
		&__title {
			font-size: 32px;
		}
		&__subtitle {
			font-size: 13px;
			margin-bottom: 8px;
		}
		&__buttons {
			flex-direction: column;
			align-items: center;
		}
		&__slider-wrapper {
			margin-bottom: 135px;
		}
	}
	.hero-slider {
		&__item {
			width: 300px;
		}
	}
	.about {
		&__img {
			img {
				width: 191px;
			}
		}
		&__list {
			display: block;
			&.active {
				.about__item:nth-child(3) ~ .about__item {
					display: block;
				}
			}
		}
		&__item {
			margin-bottom: 40px;
			&:nth-child(3) ~ .about__item {
				display: none;
			}
		}
		&__more {
			display: inline-block;
			font-size: 18px;
			line-height: 1.1;
			letter-spacing: 0.0025em;
			text-decoration: underline;
			color: #5f6c8b;
			align-self: flex-start;
		}
	}
	.video {
		&::before {
			background: url("../img/wave-1-mob.svg") center left 81% repeat-x;
			bottom: -375px;
		}
	}
	.lead {
		.container {
			padding: 0 25px;
		}
		&__subtitle {
			font-size: 15px;
			line-height: 1.1;
		}
		&__title {
			font-size: 18px;
			margin-bottom: 24px;
			line-height: 1.16;
		}
		&__box {
			padding: 24px 32px;
			background: url("../img/lead-waves-mob.svg") center / cover no-repeat,
				linear-gradient(
					293.42deg,
					#d3e7ff 66.73%,
					#d3e7ff 66.73%,
					#e1f8ff 99.24%
				);
		}
		&__inner {
			padding-top: 210px;
		}
		&--2 {
			.lead__inner {
				padding-top: 210px;
			}
		}
	}
	.best {
		&__item {
			padding: 24px;
		}
		&__subtitle {
			font-size: 15px;
		}
		&__title {
			font-size: 22px;
			margin-bottom: 5px;
		}
		&__price {
			margin-top: 24px;
		}
	}
	.why {
		background: url("../img/wave-2-mob.svg") top 170px left repeat-x;
	}
	.system {
		&__element {
			display: block;
			min-width: auto;
		}
		&__element-btn {
			width: 22px;
			height: 22px;
		}
		&__element-text {
			margin: 0;
			transform: none;
			top: 23px;
			left: -160px;
			width: 170px;
		}
		&__list {
			&::before {
				left: 12px;
				height: calc(100% - 38px);
			}
			li {
				margin-bottom: 24px;
				&::after {
					width: 26px;
					height: 26px;
					top: 0;
					transform: none;
				}
				&::before {
					width: 11px;
					height: 11px;
					left: 8px;
					top: 8px;
					transform: none;
				}
			}
		}
	}
	.coop {
		&__slider-nav {
			display: none;
		}
		&__content {
			padding-top: 24px;
		}
		&__item {
			display: flex;
			align-items: flex-start;
			width: 100%;
			border: none;
			background: 0;
			margin-bottom: 18px;
			padding: 0;
			&:last-child {
				margin-bottom: 0;
				.coop__num {
					&::after {
						display: none;
					}
				}
				.coop__text {
					font-family: "Manrope", sans-serif;
					font-weight: 600;
				}
			}
		}
		&__num {
			position: relative;
			width: 48px;
			height: 48px;
			font-size: 20px;
			&::after {
				position: absolute;
				content: "";
				background: url("../img/arrow-down.svg") center no-repeat;
				width: 12px;
				height: 21px;
				bottom: -28px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
		&__text {
			margin-left: 16px;
		}
		&__title {
			display: none;
		}
	}
	.modal-buy {
		.form__radio {
			padding: 0;
		}
		.form__btn {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 450px) {
	.hero-slider {
		&__item {
			width: 200px;
		}
	}
	.lead {
		&__btn {
			padding: 20px 10px;
			width: 100%;
			font-size: 17px;
		}
		&--2 {
			.lead__inner {
				background-size: 150% auto;
			}
		}
		&__inner {
			background-size: 150% auto;
		}
	}
	.best {
		&__item {
			width: 260px;
		}
		&__info {
			max-width: 185px;
		}
	}
	.system {
		&__box {
			&::before {
				width: 302px;
				height: 230px;
				top: 57%;
				left: -61px;
			}
		}
		&__img {
			img {
				width: 173px;
			}
		}
		&__element {
			&--1 {
				top: 25px;
				left: 106px;
			}
			&--2 {
				top: 136px;
				left: 64px;
				.system__element-text {
					left: 23px;
				}
			}
			&--3 {
				bottom: 56px;
				left: 94px;
				&.active {
					z-index: 7;
				}
			}
			&--4 {
				bottom: 18px;
				left: 71px;
				.system__element-text {
					left: 11px;
				}
			}
			&--5 {
				bottom: 18px;
				left: 28px;
				.system__element-text {
					left: 11px;
				}
			}
			&--6 {
				top: 124px;
				left: 98px;
			}
		}
	}
}
