.directions {
	background-color: #F7F8F9;
	padding: 140px 0;
	margin-bottom: 140px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__name {
		margin-bottom: 15px;
		font-weight: 800;
		font-size: 20px;
		line-height: 1.3;
		transition: $transition;
	}

	&__item {
		background-color: $white;
		text-align: center;
		width: calc(100% / 3 - 20px);
		border-radius: 10px;
	}

	&__item-inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		&:hover {
			.directions__name {
				text-decoration: underline;
			}
		}
	}

	&__text {
		font-size: 15px;
		color: $text;
	}

	&__info {
		padding: 30px 30px 35px;
		border: 1px solid #E8E8E8;
		border-radius: 0px 0px 10px 10px;
		flex-grow: 1;
	}

	&__img {
		img {
			display: flex;
			height: 240px;
			width: 100%;
			border-radius: 10px 10px 0px 0px;
		}
	}
}
