.gas {
	margin-top: 80px;

	&__text {
		color: $text;
		font-weight: 300;
		margin-bottom: 60px;
		p {
			margin: 35px 0;
		}
	}
}

.map {
	background: linear-gradient(180deg, #ffffff 0%, #f7f8f9 46.35%);

	&__inner {
		overflow: auto;
		padding: 115px 0 145px;
		@media screen and (min-width: $mobileBreakpoint) {
			&::-webkit-scrollbar {
				height: 10px;
			}
			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
			}
			&::-webkit-scrollbar-thumb {
				background-color: darkgrey;
			}
		}
	}

	&__img {
		position: relative;
		text-align: center;
		min-width: 1230px;
		& > img {
			display: flex;
		}
	}

	&__item {
		position: absolute;
		padding-top: 15px;
		&:nth-child(1) {
			left: 378px;
			bottom: 154px;
		}
		&:nth-child(2) {
			left: 320px;
			bottom: 222px;
		}
		&:nth-child(3) {
			left: 193px;
			top: 197px;
		}
		&:nth-child(4) {
			left: 423px;
			top: 45px;
		}
		&:nth-child(5) {
			left: 572px;
			top: 304px;
		}
		&:nth-child(6) {
			right: 456px;
			top: 150px;
		}
		&:nth-child(7) {
			right: 370px;
			top: 258px;
		}
		&:nth-child(8) {
			right: 297px;
			top: 58px;
		}
		&:nth-child(9) {
			right: 213px;
			top: 188px;
		}
		&:nth-child(10) {
			right: 173px;
			bottom: 125px;
		}

		&:hover,
		&:active {
			.map__icon {
				background-image: url("data:image/svg+xml,%3Csvg width='40' height='46' viewBox='0 0 40 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 6C40 2.68629 37.3137 0 34 0H6C2.68629 0 0 2.68629 0 6V34C0 37.3137 2.68629 40 6 40H11.2271C12.8042 40 14.3179 40.6209 15.4406 41.7284L17.8641 44.119C19.0437 45.2826 20.9561 45.2826 22.1357 44.119L24.5592 41.7284C25.682 40.6209 27.1957 40 28.7727 40H34C37.3137 40 40 37.3137 40 34V6Z' fill='%231084D6'/%3E%3Cpath d='M22.4104 14.5299C22.0968 14.5992 21.772 14.6002 21.4579 14.5329C21.1439 14.4656 20.848 14.3316 20.5904 14.1399C20.4191 14.0148 20.2125 13.9473 20.0004 13.9473C19.7883 13.9473 19.5816 14.0148 19.4104 14.1399C19.1527 14.3316 18.8568 14.4656 18.5428 14.5329C18.2288 14.6002 17.904 14.5992 17.5904 14.5299C17.4443 14.4984 17.293 14.5 17.1477 14.5346C17.0023 14.5692 16.8665 14.636 16.7504 14.7299C16.6343 14.8241 16.5409 14.943 16.4769 15.078C16.4128 15.2129 16.3799 15.3605 16.3804 15.5099V18.4099C16.3734 19.0527 16.5161 19.6882 16.7973 20.2662C17.0785 20.8442 17.4904 21.3487 18.0004 21.7399L19.3704 22.7399C19.5416 22.8651 19.7483 22.9325 19.9604 22.9325C20.1725 22.9325 20.3791 22.8651 20.5504 22.7399L21.9204 21.7399C22.4377 21.3529 22.8573 20.8502 23.1455 20.2719C23.4338 19.6937 23.5827 19.056 23.5804 18.4099V15.5099C23.5809 15.3605 23.5479 15.2129 23.4839 15.078C23.4198 14.943 23.3264 14.8241 23.2104 14.7299C23.0989 14.6416 22.9699 14.5781 22.8319 14.5436C22.694 14.5092 22.5503 14.5045 22.4104 14.5299ZM21.6204 18.4099C21.6231 18.7446 21.5477 19.0752 21.4001 19.3755C21.2525 19.6759 21.0369 19.9376 20.7704 20.1399L20.0004 20.7099L19.2304 20.1399C18.9638 19.9376 18.7482 19.6759 18.6006 19.3755C18.4531 19.0752 18.3776 18.7446 18.3804 18.4099V16.5699C18.9451 16.5301 19.496 16.3771 20.0004 16.1199C20.5047 16.3771 21.0557 16.5301 21.6204 16.5699V18.4099ZM28.4604 17.6299C28.32 16.1689 27.8036 14.769 26.9616 13.5668C26.1195 12.3645 24.9805 11.4008 23.6554 10.7694C22.3303 10.1381 20.8642 9.86066 19.4001 9.96415C17.9359 10.0676 16.5235 10.5485 15.3004 11.3599C14.2496 12.0626 13.3674 12.9892 12.7173 14.0733C12.0672 15.1574 11.6653 16.372 11.5404 17.6299C11.4179 18.8796 11.575 20.1409 12.0005 21.3222C12.426 22.5036 13.1092 23.5754 14.0004 24.4599L19.3004 29.7699C19.3933 29.8637 19.5039 29.9381 19.6258 29.9888C19.7477 30.0396 19.8784 30.0657 20.0104 30.0657C20.1424 30.0657 20.2731 30.0396 20.3949 29.9888C20.5168 29.9381 20.6274 29.8637 20.7204 29.7699L26.0004 24.4599C26.8916 23.5754 27.5747 22.5036 28.0002 21.3222C28.4257 20.1409 28.5829 18.8796 28.4604 17.6299V17.6299ZM24.6004 23.0499L20.0004 27.6499L15.4004 23.0499C14.7225 22.372 14.2032 21.5523 13.8798 20.6497C13.5565 19.7471 13.4372 18.7841 13.5304 17.8299C13.6242 16.861 13.9321 15.9251 14.4319 15.0898C14.9317 14.2545 15.6109 13.5406 16.4204 12.9999C17.4813 12.2952 18.7267 11.9192 20.0004 11.9192C21.2741 11.9192 22.5194 12.2952 23.5804 12.9999C24.3874 13.5386 25.065 14.2492 25.5647 15.0809C26.0644 15.9125 26.3737 16.8445 26.4704 17.8099C26.5666 18.7674 26.4488 19.7342 26.1254 20.6405C25.8019 21.5468 25.281 22.3698 24.6004 23.0499V23.0499Z' fill='white'/%3E%3C/svg%3E%0A");
			}
			.map__text {
				display: block;
			}
		}
	}

	&__icon {
		width: 40px;
		height: 46px;
		cursor: pointer;
		background-image: url("data:image/svg+xml, %3Csvg width='40' height='46' viewBox='0 0 40 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 6C40 2.68629 37.3137 0 34 0H6C2.68629 0 0 2.68629 0 6V34C0 37.3137 2.68629 40 6 40H11.2271C12.8042 40 14.3179 40.6209 15.4406 41.7284L17.8641 44.119C19.0437 45.2826 20.9561 45.2826 22.1357 44.119L24.5592 41.7284C25.682 40.6209 27.1957 40 28.7727 40H34C37.3137 40 40 37.3137 40 34V6Z' fill='%23A5D820' /%3E%3Cpath d='M22.4104 14.5299C22.0968 14.5992 21.772 14.6002 21.4579 14.5329C21.1439 14.4656 20.848 14.3316 20.5904 14.1399C20.4191 14.0148 20.2125 13.9473 20.0004 13.9473C19.7883 13.9473 19.5816 14.0148 19.4104 14.1399C19.1527 14.3316 18.8568 14.4656 18.5428 14.5329C18.2288 14.6002 17.904 14.5992 17.5904 14.5299C17.4443 14.4984 17.293 14.5 17.1477 14.5346C17.0023 14.5692 16.8665 14.636 16.7504 14.7299C16.6343 14.8241 16.5409 14.943 16.4769 15.078C16.4128 15.2129 16.3799 15.3605 16.3804 15.5099V18.4099C16.3734 19.0527 16.5161 19.6882 16.7973 20.2662C17.0785 20.8442 17.4904 21.3487 18.0004 21.7399L19.3704 22.7399C19.5416 22.8651 19.7483 22.9325 19.9604 22.9325C20.1725 22.9325 20.3791 22.8651 20.5504 22.7399L21.9204 21.7399C22.4377 21.3529 22.8573 20.8502 23.1455 20.2719C23.4338 19.6937 23.5827 19.056 23.5804 18.4099V15.5099C23.5809 15.3605 23.5479 15.2129 23.4839 15.078C23.4198 14.943 23.3264 14.8241 23.2104 14.7299C23.0989 14.6416 22.9699 14.5781 22.8319 14.5436C22.694 14.5092 22.5503 14.5045 22.4104 14.5299ZM21.6204 18.4099C21.6231 18.7446 21.5477 19.0752 21.4001 19.3755C21.2525 19.6759 21.0369 19.9376 20.7704 20.1399L20.0004 20.7099L19.2304 20.1399C18.9638 19.9376 18.7482 19.6759 18.6006 19.3755C18.4531 19.0752 18.3776 18.7446 18.3804 18.4099V16.5699C18.9451 16.5301 19.496 16.3771 20.0004 16.1199C20.5047 16.3771 21.0557 16.5301 21.6204 16.5699V18.4099ZM28.4604 17.6299C28.32 16.1689 27.8036 14.769 26.9616 13.5668C26.1195 12.3645 24.9805 11.4008 23.6554 10.7694C22.3303 10.1381 20.8642 9.86066 19.4001 9.96415C17.9359 10.0676 16.5235 10.5485 15.3004 11.3599C14.2496 12.0626 13.3674 12.9892 12.7173 14.0733C12.0672 15.1574 11.6653 16.372 11.5404 17.6299C11.4179 18.8796 11.575 20.1409 12.0005 21.3222C12.426 22.5036 13.1092 23.5754 14.0004 24.4599L19.3004 29.7699C19.3933 29.8637 19.5039 29.9381 19.6258 29.9888C19.7477 30.0396 19.8784 30.0657 20.0104 30.0657C20.1424 30.0657 20.2731 30.0396 20.3949 29.9888C20.5168 29.9381 20.6274 29.8637 20.7204 29.7699L26.0004 24.4599C26.8916 23.5754 27.5747 22.5036 28.0002 21.3222C28.4257 20.1409 28.5829 18.8796 28.4604 17.6299ZM24.6004 23.0499L20.0004 27.6499L15.4004 23.0499C14.7225 22.372 14.2032 21.5523 13.8798 20.6497C13.5565 19.7471 13.4372 18.7841 13.5304 17.8299C13.6242 16.861 13.9321 15.9251 14.4319 15.0898C14.9317 14.2545 15.6109 13.5406 16.4204 12.9999C17.4813 12.2952 18.7267 11.9192 20.0004 11.9192C21.2741 11.9192 22.5194 12.2952 23.5804 12.9999C24.3874 13.5386 25.065 14.2492 25.5647 15.0809C26.0644 15.9125 26.3737 16.8445 26.4704 17.8099C26.5666 18.7674 26.4488 19.7342 26.1254 20.6405C25.8019 21.5468 25.281 22.3698 24.6004 23.0499Z' fill='%23D7FB7A' /%3E%3C/svg%3E");
		filter: box-shadow(0px 20px 20px rgba(113, 141, 38, 0.2));
		background-repeat: no-repeat;
		background-position: center;
		transition: $transition;
	}

	&__text {
		display: none;
		position: absolute;
		font-size: 14px;
		line-height: 1.43;
		padding: 15px;
		background-color: $white;
		border: 1px solid #e8e8e8;
		box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.12);
		border-radius: 6px;
		left: 0;
		bottom: 100%;
		min-width: 150px;
	}
}
