.container {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 110px;
}

.logo {
	display: inline-block;
	img {
		vertical-align: middle;
	}
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.4;
		letter-spacing: -1px;
		margin-bottom: 20px;
	}

	&__content {
		flex-grow: 1;
	}

	&__top {
		display: flex;
		flex-direction: column;
		background: url('../img/main-bg.png') bottom / cover no-repeat;
		background-image: none;
		@supports (-webkit-appearance: none) {
			background-image: url('../img/main-bg.webp');
		}
	}
}

.page-head {
	&__info {
		padding-bottom: 124px;
		max-width: 715px;
	}

	&__text {
		color: $text;
		font-weight: 300;
	}
}

.section {
	margin: 140px 0 180px;
}

.section-title {
	font-weight: 800;
	font-size: 36px;
	line-height: 1.3;
	text-align: center;
	margin-bottom: 100px;
	letter-spacing: -1px;

	&-sm {
		font-weight: 800;
		font-size: 30px;
		line-height: 1.3;
		letter-spacing: -1px;
		margin-bottom: 35px;
	}
	&-md {
		font-weight: 800;
		font-size: 34px;
		line-height: 1.35;
		letter-spacing: -1px;
		margin-bottom: 30px;
	}
}

.slider-wrapper {
	position: relative;
}

.btn {
	display: inline-block;
	padding: 22px 30px;
	text-align: center;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.01);
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	border-left: 6px solid $accent;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: $black;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
	min-width: 193px;
	transition: $transition;
	position: relative;
	z-index: 2;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		z-index: -1;
		background-color: $accent;
		transition: $transition;
	}
	&:hover,
	&:active {
		color: $white;
		&::before {
			width: 100%;
		}
	}
	&--sm {
		padding: 14px 30px;
		min-width: 153px;
	}
	&--flex {
		display: flex;
		align-items: center;
		span {
			margin-right: 15px;
		}
		&:hover,
		&:active {
			path {
				fill: $white;
			}
		}
	}
}

.slider-arrows {
	&__prev,
	&__next {
		position: absolute;
		width: 70px;
		height: 70px;
		transform: translateY(-50%);
		top: 50%;
		cursor: pointer;
		outline: none;
		z-index: 3;

		&.swiper-button-disabled {
			opacity: 0.6;
		}

		&::before {
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background: url("data:image/svg+xml,%3Csvg width='43' height='17' viewBox='0 0 43 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.61997 8.59035C5.66759 8.46777 5.73899 8.35577 5.83008 8.2608L12.8337 1.26855C12.927 1.17544 13.0378 1.10158 13.1596 1.05118C13.2815 1.00079 13.4122 0.974854 13.5441 0.974854C13.8105 0.974854 14.0661 1.0805 14.2545 1.26855C14.3477 1.36166 14.4217 1.47221 14.4722 1.59386C14.5227 1.71552 14.5487 1.84591 14.5487 1.9776C14.5487 2.24354 14.4429 2.49859 14.2545 2.68664L8.9517 7.97119H36.556C36.8214 7.97119 37.0759 8.0764 37.2635 8.26369C37.4511 8.45097 37.5566 8.70498 37.5566 8.96984C37.5566 9.2347 37.4511 9.48872 37.2635 9.676C37.0759 9.86328 36.8214 9.9685 36.556 9.9685H8.9517L14.2545 15.253C14.3482 15.3459 14.4227 15.4563 14.4735 15.578C14.5243 15.6997 14.5504 15.8303 14.5504 15.9621C14.5504 16.0939 14.5243 16.2245 14.4735 16.3461C14.4227 16.4678 14.3482 16.5783 14.2545 16.6711C14.1614 16.7647 14.0508 16.839 13.9289 16.8897C13.8069 16.9404 13.6762 16.9665 13.5441 16.9665C13.412 16.9665 13.2812 16.9404 13.1593 16.8897C13.0374 16.839 12.9267 16.7647 12.8337 16.6711L5.83008 9.67889C5.73899 9.58391 5.66759 9.47192 5.61997 9.34933C5.5199 9.1062 5.5199 8.83349 5.61997 8.59035Z' fill='%2321292F'/%3E%3C/svg%3E%0A")
				center no-repeat;
			transition: $transition;
		}
		&::after {
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 100%;
			height: 100%;
			background-color: $white;
			border: 1px solid #e8e8e8;
			z-index: -1;
			border-radius: 10px;
			transition: $transition;
		}
		&:not(.swiper-button-disabled):hover {
			&::after {
				background-color: $accentHover;
			}
			&::before {
				background-image: url("data:image/svg+xml,%3Csvg width='43' height='17' viewBox='0 0 43 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.61997 8.59035C5.66759 8.46777 5.73899 8.35577 5.83008 8.2608L12.8337 1.26855C12.927 1.17544 13.0378 1.10158 13.1596 1.05118C13.2815 1.00079 13.4122 0.974854 13.5441 0.974854C13.8105 0.974854 14.0661 1.0805 14.2545 1.26855C14.3477 1.36166 14.4217 1.47221 14.4722 1.59386C14.5227 1.71552 14.5487 1.84591 14.5487 1.9776C14.5487 2.24354 14.4429 2.49859 14.2545 2.68664L8.9517 7.97119H36.556C36.8214 7.97119 37.0759 8.0764 37.2635 8.26369C37.4511 8.45097 37.5566 8.70498 37.5566 8.96984C37.5566 9.2347 37.4511 9.48872 37.2635 9.676C37.0759 9.86328 36.8214 9.9685 36.556 9.9685H8.9517L14.2545 15.253C14.3482 15.3459 14.4227 15.4563 14.4735 15.578C14.5243 15.6997 14.5504 15.8303 14.5504 15.9621C14.5504 16.0939 14.5243 16.2245 14.4735 16.3461C14.4227 16.4678 14.3482 16.5783 14.2545 16.6711C14.1614 16.7647 14.0508 16.839 13.9289 16.8897C13.8069 16.9404 13.6762 16.9665 13.5441 16.9665C13.412 16.9665 13.2812 16.9404 13.1593 16.8897C13.0374 16.839 12.9267 16.7647 12.8337 16.6711L5.83008 9.67889C5.73899 9.58391 5.66759 9.47192 5.61997 9.34933C5.5199 9.1062 5.5199 8.83349 5.61997 8.59035Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
			}
		}
		&--sm {
			width: 60px;
			height: 60px;
		}
	}

	&__prev {
		left: -50px;
	}

	&__next {
		right: -50px;
		transform: rotate(180deg) translateY(-50%);
		transform-origin: top;
	}
}

.breadcrumbs {
	margin-bottom: 25px;
	li {
		display: inline;
		position: relative;
		font-size: 13px;
		line-height: 1.85;
		transition: $transition;
		color: #bdbdbd;
		& + li::before {
			content: '/';
			display: inline-block;
			margin: 0 8px;
			color: #bdbdbd;
		}
		&:last-child {
			color: #1b1b1b;
		}
		&:hover {
			color: $accentHover;
		}
	}
}

.pagination {
	margin: 70px 0;
	&--center {
		ul {
			justify-content: center;
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 5px 15px;
	}
	li {
		width: 50px;
		height: 50px;
		background-color: $white;
		border-radius: 6px;
		color: #000;
		font-size: 15px;
		line-height: 1.3;
		letter-spacing: 0.02em;
		border: 1px solid #e8e8e8;
		transition: $transition;
		&.active {
			background-color: #e8e8e8;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		&:hover {
			color: $white;
			background-color: $accent;
			svg > path {
				fill: $white;
			}
		}
		svg > path {
			transition: $transition;
		}
	}
}

.form {
	&__checkbox {
		margin: 15px 0;
		& > label {
			display: flex;
			align-items: flex-start;
			cursor: pointer;
			& > input {
				display: none;
				&:checked ~ .form__checkbox-element {
					background-color: $accent;
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}

	&__checkbox-text {
		font-size: 15px;
		color: $text;
		line-height: 1.4;
		margin-left: 15px;
	}

	&__checkbox-element {
		display: block;
		width: 20px;
		height: 20px;
		background: $white;
		border: 1px solid #e8e8e8;
		border-radius: 2px;
		flex-shrink: 0;
		position: relative;
		transition: $transition;
		&::after {
			position: absolute;
			content: '';
			width: 11px;
			height: 9px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url('../img/check-icon.svg') center no-repeat;
			transition: $transition;
			opacity: 0;
		}
	}
}

.filter {
	background-color: $white;
	&__content {
		border: 1px solid #e8e8e8;
		border-radius: 10px;
		padding: 30px;
	}

	&__btn,
	&__close {
		display: none;
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.4;
		margin-bottom: 25px;
	}

	&__overlay {
		display: none;
	}
}
