$text: #61696B;
$main: #139DFE;
$mainHover: #1084D6;
$accent: #A5D820;
$accentHover: #93CA00;
$yellow: #F3EA12;
$white: #fff;
$black: #21292F;
$orange: #F57676;
$mobileBreakpoint: 1024px;
$transition: .25s ease-out;